<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
	<meta name="google-site-verification" content="558F7hieEsZ-BKZ2VMH7Wwr89j5Kk--0A-6z-ShQceY" />
    <title>Crash Los Angeles: Be Your Own Tour Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Crash is a location-based attraction discovery app where you can find unique and curated tourist attractions.">
	<meta name="keywords" content="Travel, Tourist Attractions, Los Angeles, Trips, Photos, iPhone App">
    <meta name="author" content="Ismail Elshareef">

	<meta property="og:app_id" content="100928086720891"/>
	<meta property="og:title" content="Crash Los Angeles: Be Your Own Tour Guide"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://www.cra.sh/static/img/crash.png"/>
	<meta property="og:url" content="http://www.cra.sh"/>

    <!-- styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/crash2.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
	<div id="fb-root"></div>
    <div class="navbar">
      <div class="navbar-inner arrow_box">
        <span class="csh-font">Crash Los Angeles</span>: Be Your Own Tour Guide
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row rel">
        <div class="span8" style="position: relative;width:640px;z-index:100;">
          	<img class="hand" src="/static/img/hand2.png" />
			<hr style='width:700px; border: 3px solid #464646; position:absolute; top:116px; z-index:-3;left:392px;'>
        </div>
        <div class="span4">
			<div class="row logo-container">
	          	<a href="/" class="logo"></a>
				<div class="tagline">BE YOUR OWN TOUR GUIDE</div>
				
	        </div>
			<div class="row reg">
	          	<h1>Reserve Your Username Today!</h1>
				<p>Crash is a location-based attraction discovery app where you can find unique and curated tourist attractions off the beaten path.</p>
				<div class="row" style="text-align: left; margin-top:20px;">
					<div class="span2" style="width:205px;">
						<span>Username:</span><span id="status" style="float: right; display:none;"></span><br />
						<form class="form-horizontal">
						  <fieldset>
						    <div class="control-group" style="background:#fff; color:#000; padding-left:10px;">
						      <label class="control-label" for="input01">www.cra.sh/</label>
						      <div class="controls">
						        <input type="text" class="input-small" value="username" id="username" onfocus="if (this.value == 'username') {this.value = '';} $(this).css('color', '#666')" onblur="if (this.value == '') {this.value = 'username';$(this).css('color', '#ccc')}" style="border-color:#fff;padding-left:0;color:#ccc;">
						      </div>
						    </div>
						  </fieldset>
						</form>
					</div>
					<div class="span2" style="width:120px; margin-left:20px;">
						<span>Primary location:</span><br />
						<form class="form-horizontal">
						  <fieldset>
						    <div class="control-group">
						      <div class="controls">
						    	<select id="location">
									<option value="">Select a Location</option>
									<option>Alaska</option>
									<option>Albuquerque, NM</option>
									<option>Atlanta, GA</option>
									<option>Austin, TX</option>
									<option>Baltimore, MD</option>
									<option>Billings, MT</option>
									<option>Birmingham, AL</option>
									<option>Boise, ID</option>
									<option>Boston, MA</option>
									<option>Buffalo, NY</option>
									<option>Charleston, WV</option>
									<option>Charlotte, NC</option>
									<option>Cheyenne, WY</option>
									<option>Chicago, IL</option>
									<option>Cincinnati, OH</option>
									<option>Cleveland, OH</option>
									<option>Columbia, SC</option>
									<option>Columbus, OH</option>
									<option>Dallas, TX</option>
									<option>Denver, CO</option>
									<option>Des Moines, IA</option>
									<option>Detroit, MI</option>
									<option>Dover, DE</option>
									<option>Fargo, ND</option>
									<option>Green Bay, WI</option>
									<option>Hartford, CT</option>
									<option>Hawaii</option>
									<option>Houston, TX</option>
									<option>Indianapolis, IN</option>
									<option>Jackson, MS</option>
									<option>Jacksonville, FL</option>
									<option>Kansas City, MO</option>
									<option>Las Vegas, NV</option>
									<option>Little Rock, AR</option>
									<option>Los Angeles, CA</option>
									<option>Louisville, KY</option>
									<option>Memphis, TN</option>
									<option>Miami, FL</option>
									<option>Milwaukee, WI</option>
									<option>Minneapolis, MN</option>
									<option>Nashville, TN</option>
									<option>New England</option>
									<option>New Jersey</option>
									<option>New Orleans, LA</option>
									<option>New York City, NY</option>
									<option>Omaha, NE</option>
									<option>Philadelphia, PA</option>
									<option>Phoenix, AZ</option>
									<option>Pierre, SD</option>
									<option>Pittsburg, PA</option>
									<option>Portland, OR</option>
									<option>Providence, RI</option>
									<option>Raleigh, NC</option>
									<option>Reno, NV</option>
									<option>Richmond, VA</option>
									<option>Saint Louis, MO</option>
									<option>Salt Lake City, UT</option>
									<option>San Antonio, TX</option>
									<option>San Diego, CA</option>
									<option>San Francisco, CA</option>
									<option>Seattle, WA</option>
									<option>Tampa Bay, FL</option>
									<option>Tucson, AZ</option>
									<option>Washington D.C.</option>
									<option>Wichita, KS</option>
									<option value="">......</option>
									<option>International</option>
								</select>
						      </div>
						    </div>
						  </fieldset>
						</form>
					</div>
				</div>
				<div class="row" style="margin-left:0;">
					<a href="javascript:;" onclick="fbLogin();"><img src="/static/img/fb-login.png" /></a>
				</div>
	        </div>
		</div>
      </div>
	</div>
	
	<div class="container">
		<div class="footer">
	        <span><fb:like href="https://www.facebook.com/crashworks" send="true" width="800" colorscheme="dark" show_faces="false"></fb:like></span>
			<span style="float: right; margin-top:-5px;"><a href="http://www.facebook.com/crashworks" class="fb-link" target="_blank"></a><a href="http://twitter.com/crashapp" class="tw-link" target="_blank"></a></span>
	   	</div>
      	<footer>
        	&copy; 2012 Crashworks, Inc - An <a href="http://www.idealab.com/" target="_blank">Idealab</a> Company &bull; <a href="mailto: crashfounders@gmail.com">Contact Us</a>
      	</footer>

    </div> <!-- /container -->
	<div class="modal hide" id="myModal" style="font-size:14px; width:450px;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><img src="/static/img/close.gif" /></button>
			<h3>CONGRATS!</h3>
		</div>
	  	<div class="modal-body">
	    	<p>You've successfully reserved your Crash username!</p>
			<p>Tell your friends so they can get theirs:</p>
			<div style="background:#e5e5e5;padding:20px;">
				<div class="row" style="padding-bottom:10px;">
					<div class="span2" style="width:120px;">
						<img src="/static/img/logo-white2.gif" />
					</div>
					<div class="span2" style="margin-left:0">
						<textarea class="input-xlarge" id="textarea" rows="5">I just reserved my username on Crash, the coolest attraction discovery app on the planet.&#13;&#13;You should too!</textarea>
					</div>
				</div>
				<div class="row" style="text-align:right;">
					<a id="shareOnFb" href="javascript:;"><img src="/static/img/fb-submit.jpg" /></a>
				</div>
			</div>
	  	</div>
	</div>
	<!-- JavaScript block -->
	<script src="/static/bootstrap/js/jquery172.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/js/crash.js"></script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script type="text/javascript" charset="utf-8">
		FB.init({appId:"100928086720891",status:true,cookie:true,xfbml:true,oauth:true});
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
			    FB.api({method: 'fql.query',query: 'SELECT uid FROM user WHERE uid=me()'}, function(response) {
					$.post("/get_username", {'uid': response[0]['uid']}, function(data) {
						if (data != 'void') {
							window.location = '/'+data;
						}
					});
		     	});
			}
		});
	</script>
	<script src="/static/js/prelaunch.js"></script>
  </body>
</html>