{% extends "base/base_profile.html" %}
{% load extras %}
{% block meta_desc %}
<meta name="description" content="{{ attraction.description }}">
{% endblock %}
{% block fb_meta %}
<meta property="og:title" content="{{attraction.name}}"/>
<meta property="og:image" content="http://res.cloudinary.com/hwthvxm3h/image/upload/w_640,h_640/{{ attraction.hero_checkin.photo_url}}"/>
{% endblock %}
{% block title %}{{ attraction.name }}, in {{ attraction.region.name }}{% endblock %}
{% block headercore %}
<div class="span8 user-header">
	<a href="https://maps.google.com/maps?q={{ attraction.latitude }},+{{ attraction.longitude }}+({{ attraction.name }})" target="_blank"><img alt="Google Map for {{ attraction.name|escape }}" src="http://maps.googleapis.com/maps/api/staticmap?size=100x100&zoom=14&maptype=roadmap&markers=color:red%7Ccolor:red%7Clabel:%7C{{ attraction.latitude }},{{ attraction.longitude }}&sensor=false" height="100" style="float:left;" /></a>
	<div style="float:left; margin-left:20px;position:relative; width:420px;">
		<div class="user"><span class="name">{{ attraction.name }}</span></div>
		<div class="score">CHECK IN{{ attraction.total_checkins|pluralize|upper }}<br /><span>{{ attraction.total_checkins}}</span></div>
		<div class="score" style="left:96px;">PHOTO{{ attraction.total_photos|pluralize|upper }}<br /><span>{{ attraction.total_photos}}</span></div>
		<a href="/{{ attraction.hero_checkin.user.username }}" class="score" style="left:193px;width:140px; text-overflow: ellipsis;overflow:hidden;">HERO SHOT<br /><span>{{ attraction.hero_checkin.user.username|capfirst }}</span></a>
		<a href="/{{ attraction.hero_checkin.user.username }}" class="score" style="left:338px;width:140px; text-overflow: ellipsis;overflow:hidden;">DISCOVERED BY<br /><span>{{ attraction.founder_user.username|capfirst }}</span></a>
	</div>
	<hr />
</div>
{% endblock %}
{% block tagline %}<a class="signout" style="text-transform:uppercase;" href="/region/{{attraction.region.abbreviation}}/{{attraction.region.id}}">{{attraction.region.name}}</a>{% endblock %}
{% block content %}
<style>
	.polariod {
		width: 265px;
	}
	.polariod .caption {
		width: 201px;
	}
</style>
<div class="container" style="width:1000px;" vocab="http://schema.org/" resource="#attraction" typeof="TouristAttraction">
	<div style="float:left; width:635px; margin-right:25px;">
		<div style="float:left; width:635px; margin-right:25px;">
			<div class="container arrow_box-white" style="color:#666; background:#fff; float:left; width:595px; padding:20px; margin:25px auto;">
				<div style="border-bottom:5px solid #ebebeb; float:left; width:595px;padding-bottom:10px;">
					<h1 style="font-size:30px;color:#666;" property="name">{{ attraction.name }}</h1>
					<span>{{ attraction.tag1.name }} {% if attraction.tag2 %}&bull; {{ attraction.tag2.name }}{% endif %} {% if attraction.tag3 %}&bull; {{ attraction.tag3.name }}{% endif %}</span>
				</div>
				<div style="float:left;padding:10px 0; line-height:20px;" property="description">{{ attraction.description }}</div>
			</div>
		</div>
		
		<div class="polariod-lg">
			<a href="/photo/{{ attraction.hero_checkin.id }}/{{ attraction.name.split|join:"_" }}"><img alt="{{ attraction.name.split|join:"_"|escape }}" src="http://res.cloudinary.com/hwthvxm3h/image/upload/{{ attraction.hero_checkin.photo_url}}" width="595" height="595" property="image" /></a>
			<div style="float:left; width:58px;height:58px;">
				<a href="/{{ attraction.hero_checkin.user.username}}"><img alt="{{ attraction.hero_checkin.user.username}}" src="http://res.cloudinary.com/hwthvxm3h/image/upload/w_52,h_52,c_fill/{{ attraction.hero_checkin.user.avatar}}" width="52" height="52" /></a>
			</div>
			<div class="caption">
				<span><a href="/attraction/{{ attraction.id }}/{{ attraction.name.split|join:"_" }}" property="url">{{ attraction.name }}</a></span><br />
				<span>By: <a href="/{{ attraction.hero_checkin.user.username}}">{{ attraction.hero_checkin.user.username|capfirst}}</a><br />
				<span class="timestamp">{{ attraction.hero_checkin.created|timesince_threshold|split:"," }} ago</span>
			</div>
			<div class="likes">
				<div id="loading_{{ attraction.hero_checkin.id }}" class="loading hide"><img alt="" src="/static/img/loading.gif" /></div>
				<a href="#"><span class="{% if not attraction.hero_checkin.liked %}plus{% else %}minus{% endif %}">{{ attraction.hero_checkin.id }}</span></a>
				<span class="bubble"><strong id="checkin_likes_{{ attraction.hero_checkin.id }}">{{ attraction.hero_checkin.likes_count}}</strong><span>LIKE{{ attraction.hero_checkin.likes_count|pluralize|upper }}</span></span>
			</div>
		</div>
		
		<div id="checkins-list">
		{% for i in checkins %}
		<!-- The photo unit -->
		<div class="polariod {% if not forloop.counter|divisibleby:"2"%}m25{% endif %}">
			<a href="/photo/{{ i.id }}/{{ i.attraction.name.split|join:"_" }}"><img alt="{{ i.attraction.name.split|join:"_"|escape }}" src="http://res.cloudinary.com/hwthvxm3h/image/upload/w_264,h_264/{{ i.photo_url }}" width="264" height="264" /></a>
			<div class="caption">
				<span>By: <a href="/{{ i.user.username }}">{{ i.user.username|capfirst }}</a></span><br />
				<span class="timestamp">{{ i.created|timesince_threshold|split:"," }} ago</span>
			</div>
			<div class="likes">
				<div id="loading_{{ i.id }}" class="loading hide"><img alt="" src="/static/img/loading.gif" /></div>
				<a href="#"><span class="{% if not i.liked %}plus{% else %}minus{% endif %}">{{ i.id }}</span></a>
				<span class="bubble" id="checkin_likes_{{ i.id }}">{{ i.likes_count }}</span>
			</div>
		</div>
		{% if forloop.last %}
		<script>var pagination_starts_from = {{ i.id }}; pagination_user_id = {{ i.user.id }};</script>
		{% endif %}
		{% endfor %}
		<!-- END The photo unit -->
		</div>
			
		<br style="clear:both;" />
		{% if attraction and checkins|length > 19 %}
		<a href="#"><div class="container load-more" style="width:595px;"><span id="loading_load_more" class="loading hide"><img alt="" src="/static/img/loading-bk.gif" width="20" height="20" /></span><span style="padding-left:10px;">load more</span> &#x25BC;</div></a>
		{% endif %}
	</div>
	<div style="float:left; width:340px; margin:25px auto;">
		<div style="background:#fff; padding:20px; width:300px; text-align:right; margin-bottom:25px;">
			<a href="https://itunes.apple.com/us/app/crash-be-your-own-tour-guide/id585479168" target="_blank"><img alt="Download the App from The iTunes App Store" src="/static/img/stock_300.png" width="300" height="600" style="margin-bottom:10px;"/></a><br />
			<a href="/about_us">Advertise With Us</a>
		</div>
		<div style="background:#fff; padding:20px; width:300px; min-height:1150px; text-align:left;">
			<div style="text-transform:uppercase;height:25px;color:#666;">{{attraction.region.name}}</div>
			<div style="font-size:30px; height:30px;color:#666;">ATTRACTIONS</div>
			<div id="attraction-list" style="border:1px solid #ccc; padding:10px;">
				{% for i in attr %}
				<a class="dark-link" href="/attraction/{{ i.id }}/{{ i.name.split|join:"_" }}">{{ i.name }}</a><br />
				{% endfor %}
				<div style="margin-top:50px;"><a href="/region/{{attraction.region.abbreviation}}/{{attraction.region.id}}">See all {{attraction.region.name}} attractions</a></div>
			</div>
		</div>
	</div>	
</div>
<br style="clear:both;" />
{% endblock %}

{% block js %}
<script>
	(function() {
		{% autoescape off %}
		var title = "{{ attraction.name|addslashes }}";
		{% endautoescape %}
		$('#pinterest').click(function(e) {
			e.preventDefault();
			var url = "http://pinterest.com/pin/create/button/?url="+window.location.href+"&media=http://res.cloudinary.com/hwthvxm3h/image/upload/{{ attraction.hero_checkin.photo_url|urlencode }}&description=" + title;
			window.open(url, 'Pinterest', 'width=700, height=500, toolbar=0');
		});
		
		var friends_followers_state = $('#friends_followers').hasClass('arrow_box-gray');
		var friends_following_state = $('#friends_following').hasClass('arrow_box-gray');
		
		$('#friends_followers').hover(function() {
			if (!friends_followers_state) {
				$(this).toggleClass('arrow_box-gray');
				$('#friends_following').toggleClass('arrow_box-gray');
			}
		}).click(function() {
			friends_followers_state = true;
			friends_following_state = false;
			$(this).addClass('arrow_box-gray');
			$('#friends_following').removeClass('arrow_box-gray');
		});
		
		$('#friends_following').hover(function() {
			if (!friends_following_state) {
				$(this).toggleClass('arrow_box-gray');
				$('#friends_followers').toggleClass('arrow_box-gray');
			}
		}).click(function() {
			friends_following_state = true;
			friends_followers_state = false;
			$(this).addClass('arrow_box-gray');
			$('#friends_followers').removeClass('arrow_box-gray');
		});
	})();
</script>
{% endblock %}